@using Microsoft.AspNetCore.Identity
@using StaffPortal.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@model StaffPortal.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}




@UserManager.GetUserName(User)

<div class="row bg-title">
    <div class="col-lg-12">
        <h4 class="page-title">Profile</h4>
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Profile Page</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- row -->
<div class="row">
    <div class="col-md-4 col-xs-12">
        <div class="white-box">
            <div class="user-bg">
                <img width="100%" alt="user" src="images/large/img1.jpg">
                <div class="overlay-box">
                    <div class="user-content">
                        <a href="javascript:void(0)"><img src="images/users/genu.jpg" class="thumb-lg img-circle" alt="img"></a>
                        <h4 class="text-white">User Name</h4>
                        <h5 class="text-white">info@myadmin.com</h5>
                    </div>
                </div>
            </div>
            <div class="user-btm-box">
                <div class="col-md-4 col-sm-4 text-center">
                    <p class="text-purple"><i class="ti-facebook"></i></p>
                    <h1>258</h1>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <p class="text-blue"><i class="ti-twitter"></i></p>
                    <h1>125</h1>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <p class="text-danger"><i class="ti-dribbble"></i></p>
                    <h1>556</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="white-box">
            <form class="form-horizontal form-material">
                <div class="form-group">
                    <label class="col-md-12">UserName</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control form-control-line" value="@UserManager.GetUserName(User)" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">FirstName</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control form-control-line" value="@UserManager.GetUserId(User)" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-email" class="col-md-12">Email</label>
                    <div class="col-md-12">
                        <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="example-email" id="example-email" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12">Phone No</label>
                    <div class="col-md-12">
                        <input type="text" placeholder="123 456 7890" class="form-control form-control-line" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">BIO</label>
                    <div class="col-md-12">
                        <textarea rows="5" class="form-control form-control-line" readonly></textarea>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button class="btn btn-success">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.row -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

