@using Microsoft.AspNetCore.Identity
@using StaffPortal.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <title>My Admin - is a responsive admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/loading.css">
    <link href="~/sweetAlert/sweetalert.css" rel="stylesheet" />
    <script src="~/sweetAlert/sweetalert.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" asp-controller="Home" asp-action="Index"><i class="glyphicon glyphicon-fire"></i>&nbsp;<span class="hidden-xs">StaffPortal</span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li>
                        <a href="javascript:void(0)" class="open-close hidden-xs hidden-lg waves-effect waves-light">
                            <i class="ti-arrow-circle-left ti-menu"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    
                    <li 
                        class="theme-btn btn-info"><a href="#" target="_blank" style="color:white;text-align: center">Admin Section</a>
                    
                    </li>
                    <li>
                        <form role="search" class="app-search hidden-xs">
                            <input type="text" placeholder="Search..." class="form-control">
                            <a href=""><i class="ti-search"></i></a>
                        </form>
                    </li>
                    <li>

                        <div class="profile_details">
                            <ul>
                                <li class="dropdown profile_details_drop open">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                        <div>
                                            <b class="profile-pic" href="#">
                                                <img src="images/users/hritik.jpg" alt="user-img" width="36" class="img-circle">
                                                <b class="hidden-xs"> @UserManager.GetUserName(User) </b>
                                            </b>

                                            <i class="fa fa-angle-down lnr"></i>
                                            <i class="fa fa-angle-up lnr"></i>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>


                                    <ul class="dropdown-menu drp-mnu">
                                        <li> <a href="#"><i class="fa fa-cog"></i> Settings</a> </li>
                                        <li> <a asp-controller="UserProfile" asp-action="Index"><i class="fa fa-user"></i> Profile</a> </li>
                                        <li> <a asp-controller="Account" asp-action="login"><i class="fa fa-sign-out"></i> Logout</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                        @*<a class="profile-pic" href="#"> <img src="images/users/hritik.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Maruti</b> </a>*@

                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <div class="navbar-default sidebar nicescroll" role="navigation">
            <div class="sidebar-nav navbar-collapse ">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="ti-search"></i> </button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="Index" class="waves-effect"><i class="glyphicon glyphicon-fire fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a asp-controller="Faculty" asp-action="Index" class="waves-effect"><i class="ti-user fa-fw"></i>Faculty</a>
                    </li>
                    <li>
                        <a asp-controller="Department" asp-action="Index" class="waves-effect"><i class="ti-user fa-fw"></i>Department</a>
                    </li>
                    <li>
                        <a asp-controller="Administration" asp-action="ListRole"><i class="ti-user"></i> Role  </a>
                    </li>
                    <li>
                        <a asp-controller="Grade" asp-action="Index" class="waves-effect"><i class="ti-user fa-fw"></i>Grade</a>
                    </li>
                    <li>
                        <a asp-controller="Employee" asp-action="Index" class="waves-effect"><i class="ti-user fa-fw"></i>Salary</a>
                    </li>

                </ul>
                <!-- <div class="center p-20">
                     <span class="hide-menu"><a href="http://wrappixel.com/templates/myadmin/" target="_blank" class="btn btn-info btn-block btn-rounded waves-effect waves-light">Upgrade to Pro</a></span>
                 </div> -->
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container body-content">
                <partial name="_CookieConsentPartial" />
                <partial name="_NotificationPanel" />
                @RenderBody()
                <hr />
                <partial name="_Loading" />
                <footer>
                    <p>&copy; 2020 - StaffPortal</p>
                </footer>
            </div>

        </div>
        <!-- /#page-wrapper -->
        <footer class="footer text-center"> 2017 &copy; Myadmin brought to you by wrappixel.com </footer>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!--Nice scroll JavaScript -->
    <script src="~/js/jquery.nicescroll.js"></script>
    <!--Morris JavaScript -->
    <script src="~/bower_components/raphael/raphael-min.js"></script>
    <script src="~/bower_components/morrisjs/morris.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/myadmin.js"></script>
    <script src="~/js/dashboard1.js"></script>
    <script type="text/javascript">
    $(document).on('submit', 'form', function () {
            displayBusyIndicator();
        });
        function displayBusyIndicator() {
            $('.loading').show();
        }</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
