<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="~/dist/style.css">
    <link rel="stylesheet" href="~/sorce/style.css">
</head>
<body>
    <!-- partial:index.partial.html -->
    @RenderBody()
    <!-- partial -->

    @RenderSection("Scripts", required: false)
</body>
</html>
