@model BookWeb.Entities.Category
@{
    ViewData["Title"] = "Category";
}
<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">
            <div class=" form-grids row form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <div class="form-title">
                        <h4>Create New Book :</h4>
                    </div>
                    <div class="form-body">
                        <form asp-action="Create" method="post" class="mt-4">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="CategoryName">Category Name</label>
                                <input type="text" asp-for="CategoryName" class="form-control" placeholder=" Enter Category Name" required="">
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Location">Location</label>
                                <input type="text" asp-for="Location" class="form-control" id="name" placeholder="Enter Location " required="">
                                <span asp-validation-for="Location" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                            <button type="submit" class="btn btn-dark">Cancel</button>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>