@model StaffPortal.Entities.Faculty
@{
    ViewData["Title"] = "Authors";
}
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Faculty</h3>
    </div>
  <!--   <div class="col-md-7 align-self-center">
       <a href="https://wrappixel.com/templates/adminpro/" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down"> Upgrade to Pro</a>
    </div>--> 
</div>
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="white-box">
            <h3>Faculty</h3>
                 
                            <div class="table-responsive">
                                <form asp-action="Edit" method="post" class="mt-4">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Name">Name</label>
                                        <input type="text" asp-for="Name" class="form-control" placeholder="Name" required="">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Code">Faculty Code</label>
                                        <input type="text" asp-for="Code" class="form-control" placeholder="Enter Faculty Code" required="">
                                        <span asp-validation-for="Code" class="text-danger"></span>
                                    </div>

                                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                                    <a href="Cancel" type="button" class="btn btn-dark">Cancel</a>
                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            
