@model BookWeb.Entities.Publisher
@{
    ViewData["Title"] = "Publisher";
}
<div id="page-wrapper">
    <div class="main-page">
        <div class="forms">
            <div class=" form-grids row form-grids-right">
                <div class="widget-shadow " data-example-id="basic-forms">
                    <div class="form-title">
                        <h4>Create New Book :</h4>
                    </div>
                    <div class="form-body">
                        <form asp-action="Create" method="post" class="mt-4">
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Enter Author Name" required="">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BookName">BookName</label>
                                <input type="text" asp-for="BookName" class="form-control" id="name" placeholder="Enter Book Name" required="">
                                <span asp-validation-for="BookName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="AuthorName">Author Name</label>
                                <input type="text" asp-for="AuthorName" class="form-control" id="name" placeholder="Enter Author Name" required="">
                                <span asp-validation-for="AuthorName" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-success mr-2">Submit</button>
                            <button type="submit" class="btn btn-dark">Cancel</button>
                        </form>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
</div>
<!-- /.container-fluid -->
<script>
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
				showLeftPush = document.getElementById( 'showLeftPush' ),
				body = document.body;

			showLeftPush.onclick = function() {
				classie.toggle( this, 'active' );
				classie.toggle( body, 'cbp-spmenu-push-toright' );
				classie.toggle( menuLeft, 'cbp-spmenu-open' );
				disableOther( 'showLeftPush' );
			};

			function disableOther( button ) {
				if( button !== 'showLeftPush' ) {
					classie.toggle( showLeftPush, 'disabled' );
				}
			}
</script>
